.about-us-page {

    margin: 0% 0% 0% 5%;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
.about-us-page h1{
    margin-top: 5%;
    font-family: monospace;
}
.intro{
    font-size: 50px;
    font-family: "DejaVu Sans Mono";
    background-color: #ececec;
    width: 93%;
    padding: 1%;
    margin: 5% 5% 5% 0%;
    border-radius: 50px;

}
.intro p{
    margin-left: 5%;
}
.content{
    text-align: center;
    margin: 6% 7% 5% 2% ;
}
.content p{
    color:#848484;

}
.flex{
    display: flex;
    background-color: #ececec;
    width: 90%;
    padding: 2%;
    border-radius: 50px;

}
.flex img{
    width: 60%;
    margin: 21% 0% 0% 17%;
}
.imagefl{
    width: 600px;
}
.container p{
    font-weight: bolder;
}
.container li{
    list-style-type: circle !important;
    margin-left: 8%;
}