.banner2{
    height: 500px;
    width: 1459px;
    margin-top: 3px;
    object-fit: cover;
}

.productlist {
    display: flex;
    justify-content: center;
    margin: 0% 4% 0% 4%;
}

.product {

    margin: 2%;
    padding: 1%;
    width: 200px;
    text-align: center;
}
.product button{
    border-radius: 5px;
    background-color: #282828;
    color: white;
    box-shadow: #cccccc;
    width: 150px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    padding: 2%;

}
.product button:hover {
    transform: scale(1.1);
    transition-duration: 0.4s;

}
.price{
    font-weight: bolder;
    color: grey;
    font-family: "Mukti Narrow";
}
.desc{
    height: 25%;
}

.product img {
    width: 100%;
    height: auto;
    margin: 1rem 0;
}
.home img:hover {
    transform: scale(.8);
    transition-duration: 0.8s;
    border-radius: 12px;
}
.home{
    width: 100%;
}